body, html{
    background: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#bg-tint {
    position: absolute;
    background: #111;
    opacity: 0.97;
    z-index: 10; 
}

span{
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

#first-line{
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 100;
    color: #FDFDFD;
    z-index: 15;
    left: 50%;
    top: 30%;
    text-transform: uppercase;
    text-align: center;
    margin-left: -450px;
    letter-spacing: 3px;
    width: 900px;
}

#second-line{
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 100;
    color: #FDFDFD;
    z-index: 15;
    left: 50%;
    top: 40%;
    text-transform: uppercase;
    text-align: center;
    margin-left: -450px;
    letter-spacing: 4px;
    width: 900px;
}

#connect{
    border: 2px solid rgb(4, 120, 176);
    font-size: 24px;
    top: 60%;
    padding: 28px 0 0 0;
    width: 500px;
    height: 60px;
    margin-left: -250px;
    left: 50%;
}

#connect_angel{
    /*border: 2px solid #fff;*/
    top: 90%;
    width: 250px;
    height: 30px;
    margin-left:-125px;
    font-size: 18px;
    left: 80%;
    padding: 8px 0 0px 0;
}

#nasa_blog{
    /*border: 2px solid #fff;*/
    top: 90%;
    width: 250px;
    height: 30px;
    margin-left:-125px;
    font-size: 18px;
    left: 20%;
    padding: 8px 0 0px 0;
}

#nasa {
    display: inline-block;
    content:url("nasa.png");
    width: 30px;
    padding-right: 15px;
}

.btn {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: #FDFDFD;
    z-index: 15;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
}

.btn:hover {
    background-color: rgb(4, 120, 176);
    border: 2px solid rgb(4, 120, 176);
    color: #DDDDDD;
}

.hint {
    color:#fff;
    position:absolute;
    display:none;
    bottom: 5px;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    z-index: 10;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
}

@media (max-width: 904px) {
    #first-line{
        position: absolute;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 100;
        color: #FDFDFD;
        z-index: 15;
        left: 50%;
        top: 20%;
        text-transform: uppercase;
        text-align: center;
        margin-left: -150px;
        letter-spacing: 3px;
        width: 300px;
    }

    #second-line{
        position: absolute;
        font-family: 'Raleway', sans-serif;
        font-size: 32px;
        font-weight: 100;
        color: #FDFDFD;
        z-index: 15;
        left: 50%;
        top: 40%;
        text-transform: uppercase;
        text-align: center;
        margin-left: -175px;
        letter-spacing: 3px;
        width: 350px;
    }
    
    .btn{
        position: absolute;
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        color: #FDFDFD;
        z-index: 15;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 4px;        
    }

    .btn:hover {
        border: 2px solid rgb(4, 120, 176);
        color: #DDDDDD;
    }
   
    #connect{
        border: 2px solid rgb(4, 120, 176);
        font-size: 24px;
        top: 65%;
        width: 200px;
        height: 60px;
        padding: 28px 24px;
        margin-left: -128px;
        left: 50%;
        background-color: rgb(4, 120, 176);
    }

    #connect_angel{
        /*border: 2px solid #fff;*/
        font-size: 12px;
        top: 90%;
        width: 130px;
        height: 15px;
        padding: 9px 1px;
        left: 85%;
    }

    #nasa_blog{
        /*border: 2px solid #fff;*/
        font-size: 12px;
        top: 90%;
        width: 130px;
    height: 15px;
    padding: 9px 1px;
    margin-left: -40px;
        left: 15%;
    }

}

@media (max-width: 904px) and (orientation:landscape) {
    
    #first-line{
        top: 10%
    }
    
    #second-line{
        top:30%;
    }
    
    #connect {
        top:60%;
    }
    
}